/* Auto collapse left sidebar */

body.ltr #container {
    padding-left: 60px;
}

body.rtl #container {
    padding-right: 60px;
}

#global-sidebar {
    overflow-y: scroll;
    clip: rect(0px, 60px, 100vh, 0px);
    position: fixed;
    transition: clip .3s ease;
    z-index: 100;
}

#global-sidebar:hover {
    clip: rect(0px, 240px, 100vh, 0);
    box-shadow: 3px 0 15px rgba(0, 0, 0, 0.25);
}

#nav li a {
    padding: 15px 20px;
    min-height: 24px;
    line-height: 20px;
}

#nav li a .icon {
    width: 20px;
}

#nav li a .icon span[data-icon] {
    font-size: 20px;
}

#nav li a .icon svg {
    width: 20px;
    max-height: 20px;
}

body.ltr #nav li a .icon {
    margin-right: 20px;
}

body.rtl #nav li a .icon {
    margin-left: 20px;
}

#global-sidebar .topbar a.site-name h2 {
    padding: 0 0 0 46px;
    margin: 0;
}


/* Big screen max width container fix */

#container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}


/* Make container a little bit more attractive */

#container .pane {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 5px !important;
}


/* Better Breadcrumbs */

#container .topbar:not(:empty) {
    background: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0 24px;
}

#crumbs li a {
    color: #555;
}


/* Some general styling */

.grid {
    position: relative;
    margin: -10px;
}

.grid:first-child {
    margin-top: -10px !important;
}

.grid:last-child {
    margin-bottom: -10px !important;
}

.grid + .grid {
    margin-top: 20px;
}

.grid > .item {
    padding: 10px;
}

.tabs .tab {
    padding: 9px 24px;
}


/*DevMode running background animation */

#global-sidebar #devmode {
    animation: animatedBackground 2s linear infinite;
    background-position: 0px 0px;
    background-repeat: repeat-x;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 40px 0;
    }
}
